<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171808141-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-171808141-1');
    </script>
    <script data-ad-client="ca-pub-2182088840518298" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="canonical" href="https://www.weightsinstock.com">
    <meta charset="UTF-8">
    <title>Weights In Stock | Find Fitness Equipment</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="description" content="Find Weights and Fitness Equipment From Popular Companies In Stock Now">
    <meta name="keywords"
        content="weights in stock, available gym equipment, weights for sale, where to find gym equipment, gym equipment for sale, where to find available gym equipment, gym equipment in stock, in stock fitness equipment, home gym equipment finder, where to find equipment for home gym, weights in stock,find weights,weights,weightlifting,weight plates,weight lifting, weight,gym,fitness,in stock Rogue,Fringe Sports in stock, REP in stock, Titan Fitness in stock, XMark in stock,home gym,gym equipment,barbell,dumbbell,power rack,weight plates,bumper plates">
    <meta name="author" content="MG">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/android-chrome-512x512.png" width="50" height="auto" alt="WeightsInStock Logo">
            Weights In Stock
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="#about">About</a>
                <a class="nav-item nav-link" href="#barbell">Barbells</a>
                <a class="nav-item nav-link" href="#plate">Plates</a>
                <a class="nav-item nav-link" href="#dumbbell">Dumbbells</a>
                <a class="nav-item nav-link" href="#kettlebell">Kettlebells</a>
                <a class="nav-item nav-link" href="#other">Other</a>
              </div>
        </div>
    </nav>

    <div class="header header-photo page-caption container-fluid">
        <h1 class="page-title" style="font-size: 4.5vw;">The Easy Way To Find Weights In Stock</h1> <!--style="font-size: 3em; font-size: 4.5vw;"-->
        <p class="lead page-title" style="font-size: 3vw;">Save time and effort by seeing what home gym equipment is
            in stock from many popular companies all in one place.</p> <!-- style="font-size: 1.5em; font-size: 3vw;"-->
    </div>
    
    <p id="p1" style="display:none">https://www.weightsinstock.com/</p>

    <div class="container mt-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h2 class="h2">Deals</h2>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button onclick="copyToClipboard('#p1')" class="btn btn-sm btn-outline-secondary">Share</button>
                </div>
            </div>
        </div>
        <h4 class="">What This Tracks</h4>
        <p>This site tracks deals from Rogue, Fringe Sports, REP, Vulcan, Titan Fitness, and XMark. When an item
            goes in stock
            on these websites, it will automatically be updated here. Webpage is updated 3 times daily(8:30-9 am, 3-3:30 pm, and 9-9:30pm Pacific Time) as to not burden these companies with too many requests to their website. If a section is
            blank that means everything is sold out. I hope you find this page useful!
        </p>
        <div id="amzn-assoc-ad-fdfbafb9-b707-4aa3-b767-4088323c6306"></div>
        <script async
            src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=fdfbafb9-b707-4aa3-b767-4088323c6306"></script>
        <h4 id="barbell" class="">Barbells</h4>
    
        <div class="content row" id="collapse1">
            {%for bar in bars | sort(attribute='stock', reverse = True)%}
            {% if bar.stock != "Out of Stock" and bar.stock!="Out of stock"%}
            <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                <div class="card" style="font-size:80%; width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">{{bar.name}}</h6>
                        <div class="row">
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted">{{bar.brand}}</h7>
                                <br>
                                <h7 class="card-subtitle mb-2 text-muted">${{bar.price}}</h7>
                            </div>
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted">{{bar.stock}}</h7>
                                <br>
                                <a href="{{bar.link}}" class="card-link mb-2">Link</a>
                            </div>
                        </div>
                        <p class="card-text">{{bar.image}}</p>

                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        <div class="content">
            <h5>Personal Favorite Barbells For Price</h5>
            <ul>
                <li>
                    Favorite Budget Barbell
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B01NBTGVNI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01NBTGVNI&linkCode=as2&tag=matthewdgottl-20&linkId=dd75fe53d63b47578b1ee2af88e3f153">XMark
                        Lumberjack 7' Olympic Powerlifting Bar (Amazon Affiliate Link)</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B01NBTGVNI" width="1"
                        height="1" border="0" alt="XMark Lumberjack Barbell"
                        style="border:none !important; margin:0px !important;" />
                </li>
                <li>
                    Favorite Middle Road Barbell
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B01I46FG46/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01I46FG46&linkCode=as2&tag=matthewdgottl-20&linkId=a1d9daf1dfa6894f0fbed1599c28f3a2">XMark
                        Voodoo Commercial 7' Olympic Powerlifting Bar (Amazon Affiliate Link)</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B01I46FG46" width="1"
                        height="1" border="0" alt="XMark Voodoo Barbell"
                        style="border:none !important; margin:0px !important;" />
                </li>
                <li>
                    Favorite Top Tier Barbell
                    <a target="_blank" href="https://www.roguefitness.com/the-ohio-bar-black-zinc">Rogue Ohio Bar</a>
                </li>
            </ul>
        </div>
        <div id="amzn-assoc-ad-97119ad9-0607-4835-b103-d0e41429b10e"></div>
        <script async
            src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=97119ad9-0607-4835-b103-d0e41429b10e"></script>
        <h4 class="" id="plate">Plates</h4>
  
        <div class="content row" id="collapse2">
            {%for plate in plates | sort(attribute='stock', reverse = True)%}
            {% if plate.stock != "Out of Stock" and plate.stock != "Out of stock"%}
            <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                <div class="card" style="font-size:80%; width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">{{plate.name}}</h6>
                        <div class="row">
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted">{{plate.brand}}</h7>
                                <br>
                                <h7 class="card-subtitle mb-2 text-muted">${{plate.price}}</h7>
                            </div>
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted mb-2">{{plate.stock}}</h7>
                                <br>
                                <a href="{{plate.link}}" class="card-link mb-2">Link</a>
                            </div>
                        </div>
                        <p class="card-text">{{plate.image}}</p>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>

        <div id="amzn-assoc-ad-9d58f75a-3816-4b88-9f69-d958d437b1a7"></div>
        <script async
            src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=9d58f75a-3816-4b88-9f69-d958d437b1a7"></script>

        <div class="container-fluid pb-2 mb-3">
            <h4 class="" id="dumbbell">Dumbbells</h4>
            <div class="content row" id="collapse3">
                {%for dumbbell in dumbbells | sort(attribute='stock', reverse = True)%}
                {% if dumbbell.stock != "Out of Stock" and dumbbell.stock!="Out of stock"%}
                <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                    <div class="card" style="font-size:80%; width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;">{{dumbbell.name}}</h6>
                            <div class="row">
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{dumbbell.brand}}</h7>
                                    <br>
                                    <h7 class="card-subtitle mb-2 text-muted">${{dumbbell.price}}</h7>
                                </div>
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{dumbbell.stock}}</h7>
                                    <br>
                                    <a href="{{dumbbell.link}}" class="card-link mb-2">Link</a>
                                </div>
                            </div>
                            <p class="card-text">{{dumbbell.image}}</p>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>

            <h5>Personal Favorite Option</h5>
            For the most cost effective setup I use Olympic Barbell handles. This way I can use the weight plates I
            already have without having to purchase extra dumbbells
            <a target="_blank"
                href="https://www.amazon.com/gp/product/B0010YOBB4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0010YOBB4&linkCode=as2&tag=matthewdgottl-20&linkId=f39337e80962834d54182aea5896874a">CAP
                Barbell Solid 20-Inch Dumbbell Handle (Amazon Affiliate Link)</a><img
                src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B0010YOBB4" width="1" height="1"
                border="0" alt="CAP BARBELL" style="border:none !important; margin:0px !important;" />
            <div id="amzn-assoc-ad-fc04032b-0466-4623-bcf9-f75ad0443e2a"></div>
            <script async src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=fc04032b-0466-4623-bcf9-f75ad0443e2a"></script>
        </div>

        <div class="container-fluid pb-2 mb-3">
            <h4 class="" id="kettlebell">Kettlebells</h4>
            <div class="content row" id="collapse4">
                {%for kettlebell in kettlebells | sort(attribute='stock', reverse = True)%}
                {% if kettlebell.stock.lower() != "out of stock"%}
                <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                    <div class="card" style="font-size:80%; width: 18rem;">
                        <div class="card-body">

                            <h6 class="card-title" style="font-weight: bold;">{{kettlebell.name}}</h6>
                            <div class="row">
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{kettlebell.brand}}</h7>
                                    <br>
                                    <h7 class="card-subtitle mb-2 text-muted">${{kettlebell.price}}</h7>
                                </div>
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{kettlebell.stock}}</h7>
                                    <br>
                                    <a href="{{kettlebell.link}}" class="card-link mb-2">Link</a>
                                </div>
                            </div>
                            <p class="card-text">{{kettlebell.image}}</p>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>
        </div>

        <div class="container-fluid pb-2 mb-3">
            <h4 class="" id="powerrack">Power Rack</h4>
            <div class="content row" id="collapse5">
                {%for rack in racks | sort(attribute='stock', reverse = True)%}
                {% if "out of stock" not in rack.stock.lower() %}
                <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                    <div class="card" style="font-size:80%; width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;">{{rack.name}}</h6>
                            <div class="row">
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{rack.brand}}</h7>
                                    <br>
                                    <h7 class="card-subtitle mb-2 text-muted">${{rack.price}}</h7>
                                </div>
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{rack.stock}}</h7>
                                    <br>
                                    <a href="{{rack.link}}" class="card-link mb-2">Link</a>
                                </div>
                            </div>
                            <p class="card-text">{{rack.image}}</p>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>
            <div id="amzn-assoc-ad-02cf9f22-79be-49bf-8f0c-f90aaf7de301"></div>
            <script async
                src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=02cf9f22-79be-49bf-8f0c-f90aaf7de301"></script>
        </div>
        <!--
        <div class="container-fluid pb-2 mb-3">
            <h4 id="other">Other Deals</h4>
            <p>I think T-Bar Rows are one of the greatest back exercises. I attached this platform to my power rack and for
                a little over $40 total I think this is a pretty good deal. Note: The all
                black T-Bar row platform was sold out but I was able to purchase the same one in orange.</p>
            <ul>
                <li>
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B01077P1W2/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01077P1W2&linkCode=as2&tag=matthewdgottl-20&linkId=03c1c511cd7d44a285ef77c82c4a5fb7">Yes4All
                        Deluxe T-Bar Row Platform Fits 1” Standard and 2” Olympic Bars (Amazon Affiliate Link)</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B01077P1W2" width="1"
                        height="1" border="0" alt="T-Bar Platform"
                        style="border:none !important; margin:0px !important;" />
                </li>
                <li>
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B013JL05R4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B013JL05R4&linkCode=as2&tag=matthewdgottl-20&linkId=ceb93cd22fbe18e5603ba1280d424d12">Yes4All
                        Seated Row Double D Handle Cable Attachment - Chrome (Amazon Affiliate Link)</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B013JL05R4" width="1"
                        height="1" border="0" alt="Row Cable Attachment"
                        style="border:none !important; margin:0px !important;" />
                </li>
            </ul>
        </div>
        -->
        <div class="container-fluid pb-2 mb-3">
            <h4>Weight Storage Rack</h4>
            Personally I just followed the tutorial below and built my own weight rack that only required 2 - 2x4x8 wood
            planks and 24 2.5" to 3" screws.<br>
            <br>
            <a href="https://www.youtube.com/watch?v=Ar3uW3bWx3k">DIY Weight Rack</a>
            <br>
            <br>
            If you wanted something a little more aesthetically pleasing, <a target="_blank"
                href="https://www.amazon.com/gp/product/B00ZEYSYXC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ZEYSYXC&linkCode=as2&tag=matthewdgottl-20&linkId=23861321ed5f2773ba1d1e8d4f160993">CAP
                Barbell Plate Tree Rack (Amazon Affiliate Link)</a><img
                src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B00ZEYSYXC" width="1" height="1"
                border="0" alt="Barbell Plate Tree Rack" style="border:none !important; margin:0px !important;" /> is a
            good deal for $60.<br><br>

        </div>
    </div>
  
    <div class="container-fluid border footer" id="about">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <h5>Current Status</h5>
                <p>This site tracks deals from Rogue, Fringe Sports, REP, Vulcan, Titan Fitness, and XMark.</p>
                <p>
                    weightsinstock.com is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to amazon products.
                </p>
    
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <h5>About Me</h5>
                <p>I recently graduated college in June of 2020 with a B.S. in Computer Science. This was a project I
                    created for myself to find exercise equipment while learning a new programming framework and decided
                    to share it with others. I hope you find this useful and stay safe! </p>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();

            alert("Copied Address to Clipboard! Thanks for Sharing!")
        }
    </script>
    <script type="text/javascript">
        amzn_assoc_ad_type = "link_enhancement_widget";
        amzn_assoc_tracking_id = "weightsinstock-20";
        amzn_assoc_linkid = "a3728de4cf1e18f4718a8eb620b5c75a";
        amzn_assoc_placement = "";
        amzn_assoc_marketplace = "amazon";
        amzn_assoc_region = "US";
    </script>
    <script
        src="//ws-na.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&Operation=GetScript&ID=OneJS&WS=1&MarketPlace=US">
    </script>

</body>

</html>