<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-171808141-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-171808141-1');
    </script>
    <script data-ad-client="ca-pub-2182088840518298" async
        src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta charset="UTF-8">
    <title>Weights In Stock | Find Fitness Equipment</title>
    <link rel="stylesheet" href="../static/css/main.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, shrink-to-fit=no">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">
            <img src="/static/android-chrome-512x512.png" width="50" height="auto" alt="">
            Weights In Stock
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
        </ul>
        </div>
    </nav>

    <div class="header header-photo page-caption">
        <h1 class="page-title" style="font-size: 3rem">The Easy Way To Find Weights In Stock</h1>
        <p class="lead page-title" style="font-size: 1.5rem">Save time and effort by seeing what home gym equipment is
            in stock from many popular companies all in one place.</p>
    </div>
    <p id="p1" style="display:none">liftaweight.com</p>

    <div class="container mt-5">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Deals</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group mr-2">
                    <button onclick="copyToClipboard('#p1')" class="btn btn-sm btn-outline-secondary">Share</button>
                </div>
            </div>
        </div>
        <h4 class="">What This Tracks</h4>
        <p>So far, this site tracks deals from Fringe Sports, REP, Titan Fitness, and XMark. More will be added soon!
        </p>
        <div id="amzn-assoc-ad-fdfbafb9-b707-4aa3-b767-4088323c6306"></div>
        <script async
            src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=fdfbafb9-b707-4aa3-b767-4088323c6306"></script>
        <h4 class="">Barbells</h4>
        <p>If you're not seeing anything this means everything is sold out and no deals are available :(</p>
        <div class="content row">
            {%for bar in bars%}
            {% if bar.stock != "Out of Stock" and bar.stock!="Out of stock"%}
            <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                <div class="card" style="font-size:80%; width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">{{bar.name}}</h6>
                        <div class="row">
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted">{{bar.brand}}</h7>
                                <br>
                                <h7 class="card-subtitle mb-2 text-muted">${{bar.price}}</h7>
                            </div>
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted">{{bar.stock}}</h7>
                                <br>
                                <a href="{{bar.link}}" class="card-link mb-2">Link</a>
                            </div>
                        </div>
                        <p class="card-text">{{bar.image}}</p>
                        
                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>
        <div>
            <h5>Personal Favorite Barbells For Price</h5>
            <ul>
                <li>
                    Favorite Budget Barbell
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B01NBTGVNI/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01NBTGVNI&linkCode=as2&tag=matthewdgottl-20&linkId=dd75fe53d63b47578b1ee2af88e3f153">XMark
                        Lumberjack 7' Olympic Powerlifting Bar</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B01NBTGVNI" width="1"
                        height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                </li>
                <li>
                    Favorite Middle Road Barbell
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B01I46FG46/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01I46FG46&linkCode=as2&tag=matthewdgottl-20&linkId=a1d9daf1dfa6894f0fbed1599c28f3a2">XMark
                        Voodoo Commercial 7' Olympic Powerlifting Bar</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B01I46FG46" width="1"
                        height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                </li>
                <li>
                    Favorite Top Notch Barbell
                    <a target="_blank" href="https://www.roguefitness.com/the-ohio-bar-black-zinc">Rogue Ohio Bar</a>
                </li>
            </ul>

        </div>
        <div id="amzn-assoc-ad-97119ad9-0607-4835-b103-d0e41429b10e"></div>
        <script async
            src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=97119ad9-0607-4835-b103-d0e41429b10e"></script>
        <h4 class="">Plates</h4>
        <p>If you're not seeing anything this means everything is sold out and no deals are available :(</p>
        <div class="content row">
            {%for plate in plates%}
            {% if plate.stock != "Out of Stock" and plate.stock!="Out of stock"%}
            <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                <div class="card" style="font-size:80%; width: 18rem;">
                    <div class="card-body">
                        <h6 class="card-title" style="font-weight: bold;">{{plate.name}}</h6>
                        <div class="row">
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted">{{plate.brand}}</h7>
                                <br>
                                <h7 class="card-subtitle mb-2 text-muted">${{plate.price}}</h7>
                            </div>
                            <div class="col">
                                <h7 class="card-subtitle mb-2 text-muted mb-2">{{plate.stock}}</h7>
                                <br>
                                <a href="{{plate.link}}" class="card-link mb-2">Link</a>
                            </div>
                        </div>
                        <p class="card-text">{{plate.image}}</p>
                    </div>
                </div>
            </div>
            {%endif%}
            {%endfor%}
        </div>


        <div id="amzn-assoc-ad-9d58f75a-3816-4b88-9f69-d958d437b1a7"></div>
        <script async
            src="//z-na.amazon-adsystem.com/widgets/onejs?MarketPlace=US&adInstanceId=9d58f75a-3816-4b88-9f69-d958d437b1a7"></script>
        <div class="card d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-3">
            <h4 class="">Power Rack</h4>
            <p>Coming Soon</p>
            {%for rack in racks%}
                {% if rack.stock != "Out of Stock" and rack.stock!="Out of stock"%}
                <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                    <div class="card" style="font-size:80%; width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;">{{rack.name}}</h6>
                            <div class="row">
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{rack.brand}}</h7>
                                    <br>
                                    <h7 class="card-subtitle mb-2 text-muted">${{rack.price}}</h7>
                                </div>
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{rack.stock}}</h7>
                                    <br>
                                    <a href="{{rack.link}}" class="card-link mb-2">Link</a>
                                </div>
                            </div>
                            <p class="card-text">{{rack.image}}</p>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
        </div>

        
            <h4 class="">Dumbbells</h4>
            <p>Coming Soon</p>
            <div class="content row">
                {%for dumbbell in dumbbells%}
                    {% if dumbbell.stock != "Out of Stock" and dumbbell.stock!="Out of stock"%}
                <div class="col-auto mb-3 d-flex align-items-stretch mx-auto">
                    <div class="card" style="font-size:80%; width: 18rem;">
                        <div class="card-body">
                            <h6 class="card-title" style="font-weight: bold;">{{dumbbell.name}}</h6>
                            <div class="row">
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{dumbbell.brand}}</h7>
                                    <br>
                                    <h7 class="card-subtitle mb-2 text-muted">${{dumbbell.price}}</h7>
                                </div>
                                <div class="col">
                                    <h7 class="card-subtitle mb-2 text-muted">{{dumbbell.stock}}</h7>
                                    <br>
                                    <a href="{{dumbbell.link}}" class="card-link mb-2">Link</a>
                                </div>
                            </div>
                            <p class="card-text">{{dumbbell.image}}</p>
                        </div>
                    </div>
                </div>
                {%endif%}
                {%endfor%}
            </div>
            <h5>Personal Favorite Option</h5>
            For the most cost effective setup I use Olympic Barbell handles. This way I can use the weight plates I
            already have without having to purchase extra dumbbells
            <a target="_blank"
                href="https://www.amazon.com/gp/product/B0010YOBB4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B0010YOBB4&linkCode=as2&tag=matthewdgottl-20&linkId=f39337e80962834d54182aea5896874a">CAP
                Barbell Solid 20-Inch Dumbbell Handle</a><img
                src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B0010YOBB4" width="1" height="1"
                border="0" alt="" style="border:none !important; margin:0px !important;" />
  

        <div class="card d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-3">
            <h4 class="">Other Deals</h4>
            <p>Coming Soon</p>
            <h5>Personal Favorite Option</h5>
            <p>I think T-Bar Rows are one of the best back exercises. I attached this platform to my power rack and for
                a little over $40 total I think this is a pretty good deal to add to the exercise arsenal. Note: The all
                black T-Bar row platform was sold out but I was able to purchase the same one in orange.</p>
            <ul>
                <li>
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B01077P1W2/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B01077P1W2&linkCode=as2&tag=matthewdgottl-20&linkId=03c1c511cd7d44a285ef77c82c4a5fb7">Yes4All
                        Deluxe T-Bar Row Platform – Full 360° Swivel &amp; Easy to Install – Fits 1” Standard and 2”
                        Olympic Bars</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B01077P1W2" width="1"
                        height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />

                </li>
                <li>
                    <a target="_blank"
                        href="https://www.amazon.com/gp/product/B013JL05R4/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B013JL05R4&linkCode=as2&tag=matthewdgottl-20&linkId=ceb93cd22fbe18e5603ba1280d424d12">Yes4All
                        Seated Row Double D Handle Cable Attachment – Double D Grip / Double Row Handle for Cable
                        Attachment (Chrome)</a><img
                        src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B013JL05R4" width="1"
                        height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
                </li>
            </ul>
        </div>
        <div class="card d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-3">
            <h4 class="">Weight Storage Rack</h4>
            Personally I just followed the tutorial below and built my own weight rack that only required 2 - 2x4x8 wood
            planks and 24 2.5" to 3" screws.
            <a href="https://www.youtube.com/watch?v=Ar3uW3bWx3k">DIY Weight Rack</a>
            If you wanted something a little more aesthetically pleasing, the options below is a good deal.
            <a target="_blank"
                href="https://www.amazon.com/gp/product/B00ZEYSYXC/ref=as_li_tl?ie=UTF8&camp=1789&creative=9325&creativeASIN=B00ZEYSYXC&linkCode=as2&tag=matthewdgottl-20&linkId=23861321ed5f2773ba1d1e8d4f160993">CAP
                Barbell 1-Inch Plate Tree Rack, Black</a><img
                src="//ir-na.amazon-adsystem.com/e/ir?t=matthewdgottl-20&l=am2&o=1&a=B00ZEYSYXC" width="1" height="1"
                border="0" alt="" style="border:none !important; margin:0px !important;" />
        </div>
    </div>


    <div class="container-fluid border footer" id="about">
        <div class="row">
            <div class="col-xl-5 col-lg-5 col-md-5 col-sm-5 col-5">
                <p>Current Status</p>
                <p>So far, this site tracks deals from Fringe Sports, REP, Titan Fitness, and XMark. More will be added
                    soon!</p>
            </div>
            <div class="col-xl-7 col-lg-7 col-md-7 col-sm-7 col-7">
                <p>About Me</p>
                <p>I recently graduated college in June of 2020 with a B.S. in Computer Science. This was a project I
                    created for myself to find exercise equipment while learning a new programming framework and decided
                    to share it with others. I hope you find this useful and stay safe! </p>
            </div>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
        function copyToClipboard(element) {
            var $temp = $("<input>");
            $("body").append($temp);
            $temp.val($(element).text()).select();
            document.execCommand("copy");
            $temp.remove();

            alert("Copied Address to Clipboard! Thanks for Sharing!")
        }
    </script>

</body>

</html>